@media (max-width: 880px){
    header{
        padding: 18px 24px;
    }
.nav_header{
    display: none;
}
button{
    display: none;
}
.burger{
    display: block;
}
.section1{
    height: 420px;
}
footer{
    column-gap: 40px;
}
}